* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: 'Spartan', sans-serif;
  background: white;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body p {
  color: #a1a1a1;
  font-size: 0.72rem;
  font-weight: 500;
  line-height: 1.3rem;
  text-align: left;
}

body h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

body h2 {
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

body h3 {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  padding-bottom: 1rem;
}

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding-top: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  overflow-x: hidden;
}

body nav button {
  background: none;
  border: none;
  cursor: pointer;
}

body nav .before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav .before .logo {
  margin-right: 45%;
}

body nav .ham-open {
  display: none;
}

body nav .ham-open .overlay {
  height: 200vh;
  background: black;
  opacity: 0.5;
  background-blend-mode: overlay;
}

body nav .after {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  margin-top: -4.3rem;
  height: 15vh;
}

body nav .after .logo {
  display: none;
}

body nav .after ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: lowercase;
  width: 70vw;
  font-weight: 700;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav .after ul a {
  text-decoration: none;
  color: #000;
}

.hero-bg {
  background-image: url("./images/desktop-image-hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 22.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero-bg .arrow-btn {
  background: black;
  height: 3.5rem;
  width: 3.5rem;
  border: none;
}

.hero-bg .arrow-btn img {
  height: 1rem;
}

.hero-bg .arrow-btn:hover {
  background: #454545;
}

.hero-bg .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  width: 7rem;
  height: 3.5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 2rem;
}

.info .shop {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about img {
  width: 100%;
}

.about div {
  padding: 3rem 2rem;
}

@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  body nav .before {
    display: none;
  }
  body nav .ham-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body nav .ham-open #close {
    display: none;
  }
  body nav .ham-open .after {
    padding: 3rem 0;
    background: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body nav .ham-open .after .logo {
    display: inline;
    margin-left: 4rem;
    width: 5rem;
  }
  body nav .ham-open .after ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body nav .ham-open .after ul li {
    margin-left: 3rem;
  }
  body nav .ham-open .after a {
    color: white;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
  body nav .ham-open .after a:hover {
    border-bottom: 5px solid white;
  }
  .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  .first .hero-bg {
    height: 65vh;
    width: 60vw;
  }
  .first .info {
    width: 40vw;
    padding: 5rem 2rem;
  }
  .first .info div {
    padding: 0 4rem;
  }
  .first .info div h1 {
    font-size: 2.4rem;
  }
  .first .info div p {
    font-size: 0.8rem;
  }
  .first .info .shop {
    width: 50%;
  }
  .first .info .shop:hover {
    color: #a1a1a1;
  }
  .first .info .shop:hover img {
    opacity: 0.6;
  }
  .first .arrows {
    -webkit-transform: translateX(11.5vw);
            transform: translateX(11.5vw);
    width: 11.5vw;
    height: 10vh;
  }
  .first .arrows .arrow-btn {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first .arrows .arrow-btn img {
    width: 20%;
    height: 30%;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 35vh;
  }
  .about img {
    width: 70%;
  }
  .about div {
    width: 70%;
    padding: 4rem 0 0 0;
    margin: 0 3rem;
  }
  .about div h3 {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
  }
  .about div p {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=style.css.map */